@charset "gb2312";
/* css */
* {
    margin: 0;
    padding: 0
}

body {
    font-family: "Microsoft JhengHei", Helvetica, Arial, sans-serif !important;
    color: #555;
    background: #efefef;
    line-height: 1.5;
}

img {
    border: 0;
    display: block
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #555
}

/*#555*/
nav a {
    text-decoration: none;
    color: #fff
}

/*#555*/
#starlist a:hover {
    text-decoration: none;
    color: #1E9FFF;
    font-size: 18px;
}

.clear {
    clear: both;
}

.blank {
    height: 20px;
    overflow: hidden;
    width: 100%;
    margin: auto;
    clear: both
}

.f_l {
    float: left
}

.f_r {
    float: right
}

article {
    width: 1200px;
    margin: 80px auto 0;
    overflow: hidden;
    zoom: 1;
}

aside {
    width: 30%;
    float: right;
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1
}

main {
    overflow: hidden;
    width: 68%;
    float: left;
    display: block;
}

.container {
    width: 1000px;
    margin: auto
}

nav {
    width: 1200px;
    margin: auto
}

.logo {
    float: left;
    font-size: 22px
}

#mnavh {
    display: none;
    width: 30px;
    height: 40px;
    float: right;
    text-align: center;
    padding: 0 5px
}

#starlist {
    float: right;
}

#starlist li {
    float: left;
    display: block;
    color: #fff;
    padding: 0 0 0 40px;
    font-size: 16px
}

.navicon {
    display: block;
    position: relative;
    width: 25px;
    height: 2px;
    background-color: #fff;
    margin-top: 20px
}

.navicon:before, .navicon:after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    position: absolute;
    background: #fff;
    -webkit-transition-property: margin, -webkit-transform;
    transition-property: margin, transform,
    -webkit-transform;
    -webkit-transition-duration: 300ms;
    transition-duration: 300ms;
}

.navicon:before {
    margin-top: -10px;
}

.navicon:after {
    margin-top: 10px;
}

.open .navicon {
    background: none
}

.open .navicon:before {
    margin-top: 0;
    background-color: #fff;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.open .navicon:after {
    margin-top: 0;
    background-color: #fff;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.open .navicon:before, .open .navicon:after {
    content: '';
    display: block;
    width: 25px;
    height: 3px;
    position: absolute;
    background: #fff;
}

/*#starlist #selected { color: #f65a8a; }*/
#starlist #selected {
    color: #1E9FFF;
    font-size: 19px;
}

.header-navigation {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: rgba(0, 0, 0, .8);
    text-align: center; /*border-bottom: 1px solid #ddd;*/
    border-bottom: 1px solid #000;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);
    z-index: 9999;
}

/* Slide transitions */
.slideUp {
    -webkit-transform: translateY(-100px);
    -ms-transform: translateY(-100px);
    -o-transform: translateY(-100px);
    transform: translateY(-100px);
    -webkit-transition: transform .5s ease-out;
    -o-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
}

.slideDown {
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: transform .5s ease-out;
    -o-transition: transform .5s ease-out;
    transition: transform .5s ease-out;
}

/*footer*/
footer {
    width: 100%;
    font-size: 14px;
    color: #a5a4a4;
    background: rgba(0, 0, 0, .8);
    text-align: center;
    padding: 10px 0;
    clear: both;
}

footer a {
    color: #a5a4a4;
}

/*cd-top 返回顶部*/
.cd-top {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.8) url(../images/top.png) no-repeat center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.cd-top.cd-is-visible {
    visibility: visible;
    opacity: 1;
}

/*首页幻灯片*/
.mySlides {
    display: none
}

/* 幻灯片容器 */
.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

/* 下一张 & 上一张 按钮 */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
}

/* 定位 "下一张" 按钮靠右 */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* 标题文本 */
.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* 标记符号 */
.dot {
    cursor: pointer;
    height: 13px;
    width: 13px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}

/* 淡出动画 */
.fades {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}

@-webkit-keyframes fades {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}

@keyframes fades {
    from {
        opacity: .4
    }
    to {
        opacity: 1
    }
}
